$dark-primaryColor: #c5f955;
$dark-primaryColorHover: #c5f95526;
$dark-primaryColorPressed: #ffffff;

$primaryColor: #2080f0;
$primaryColorHover: rgba(32, 128, 240, 0.1);
$primaryColorPressed: #1060c9;